<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>antlr-py-sev17238</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <header>
        
    </header>
    <div class = "block">
        <div class="box">
            <h3 class="titulo1">Decaf Code</h3>
            <form action="{{ url_for('home')}} " method="POST">
                <textarea class="input_code" name="codigo" id="codigo" cols="30" rows="10">{{code}} </textarea>
                <br>
                <input class="send" type="submit" name="send" >
            </form>
        </div>
        <div class="box">
            <h3 class="titulo1">Semantic Errors</h3>
            <div class="errors">
                <textarea class="output_code" name="output" id="output" cols="30" rows="10" readonly>{% for error in errors %} &#13;&#10; {{ error.problem }} in line  {{ error.line }}{% endfor %}</textarea>
            </div>
        </div>
    </div>
    <div class = "block">
        <div class="box">
            <h3 class="titulo1">Intermediate Code</h3>
            <div class="errors">
                <textarea class="output_code" name="output" id="output" cols="30" rows="10" readonly>{% for line in intercode %}  &#13;&#10; {{ line }}  {% endfor %}</textarea>
            </div>
        </div>
        <div class="box">
            <h3 class="titulo1">ARM</h3>
            <div class="errors">
                <textarea class="output_code" name="output" id="output" cols="30" rows="10" readonly> &#13;&#10; No implementado.</textarea>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>